@import "../../styles/thrubiColors";

.everybody {
    min-height: 450px;
    opacity: 0.2;
    filter: grayscale(100%) sepia(1) hue-rotate(160deg) blur(2px);
}

.wealthy {
    min-height: 450px;
    opacity: 0.2;
    filter: grayscale(100%) blur(2px);
}

.societies {
    min-height: 450px;
    opacity: 0.2;
    filter: grayscale(100%) sepia(1) hue-rotate(10deg) blur(2px);
    overflow: hidden;
}

.opaque {
    opacity: initial;
}

.thrubiBlue {
    position: relative;
    overflow: hidden;
    height: fit-content;
}

.thrubiSilver {
    position: relative;
    overflow: hidden;
    height: fit-content;
}

.thrubiGold {
    position: relative;
    overflow: hidden;
    height: fit-content;
}

.populationTable {
    padding: 15px;
    margin: 0 auto;
    width: 800px;
    text-align: center;
}